<p>usingformgroupandformcontrol works!</p>
<hr/>
<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" #name="ngModel" formControlName="name" class="form-control" ngModel>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
        <div *ngIf="name.errors.required">Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" #email="ngModel" formControlName="email" class="form-control" ngModel>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
        <div *ngIf="email.errors.required">Email is required.</div>
        <div *ngIf="email.errors.email">Invalid email format.</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
  </form> -->